.body {
    padding: 0px;
    margin: 0px;
}


.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #170638;
    color: #d5d6d2;
    padding: 10px;
    grid-area: encabezado;
}

.encabezado img {
   width: 100px ;
   margin: 0px 15px;
}

.enc-centro h1 {
    font-size: 42px;
}

.enc-izq {
    display: flex;
}

.enc-der {
    display: flex;
}

/* ---------------------------------------- */
/* Estilos de menu */
/* ------------------------------------------ */
.menu {
    background-color: #2f2e33;
    color: #d5d6d2;
    text-align: center;
    grid-area: menu;
}

.menu ul {
    list-style: none;
    padding: 10px;
    margin: 0px;
}

.menu ul li {
    display: inline-block;
}

.menu li a {
    color: #2f2e33;
    padding: 10px;
    text-decoration: none;
    color: #d5d6d2;
}

.menu li a:hover {
background-color:#3a5199;
animation: 1.5s infinite boton-menu;
border-radius: 5px;
}

@keyframes boton-menu {
    0% {transform: scale(1.0);}
    50% {transform: scale(2.5);}
    100% {transform: scale(1.0);}
}

/* ---------------------------------------- */
/* Estilos de Class: Articulo1 */
/* ------------------------------------------ */


.contenedor-p1 {
    grid-area: contenedor-p1;
    
}

.contenedor-p1 img {
    width: 97.6vw;
    height: 10vw;
    margin: 0px;
    
}
/* ---------------------------------------- */
/* Estilos de Class: Articulo2 */
/* ------------------------------------------ */


    
.contenedor-p3 {
    
    grid-area: contenedor-p3;
    align-content: center;
    text-align: center;
    
}

.contenedor-p4 {
    grid-area: contenedor-p4;
    
    
} 

/* ---------------------------------------- */
/* Estilos de aside */
/* ------------------------------------------ */








/* ---------------------------------------- */
/* Estilos de footer */
/* ------------------------------------------ */

.pie { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    background-color: #2F2E33;
    color: #d5d6d2;
    grid-area: pie;
    
}

.iconos {
    display: flex;
    column-gap: 12px;
}

.iconos a {
    color:  #d5d6d2;
    font-size: 24px;
}

/* ------------------------------------------------- */
/* Estilos del contendor grid pantallas muy pequenas */
/* ------------------------------------------------- */

.contenedor {
    display: grid;
    grid-template: repeat(6, auto) / 100%;
    grid-template-areas: "encabezado" 
                          "menu"
                          "contenedor-p3"
                          "contenedor-p1"
                          "contenedor-p4"
                          "pie";
}


/* ------------------------------------------------- */
/* Estilos del contendor grid pantallas small */
/* ------------------------------------------------- */
/* 
@media (min-width: 720px) {
    .contenedor {
        display: grid;
        grid-template: repeat(4, auto) / 40% 60%;
        grid-template-areas: "encabezado encabezado" 
                              "menu menu"
                              "contenedor-p1 articulo2"
                              "pie pie";
    }
}
.contenedor-p1 img{
    height: auto;
    margin-bottom: 10px;
        
}
.contenedor-p2 div p {
    padding-top: 20px;
}

.contenedor-p2{
    display: block;
    align-items: center;
} */


/* ------------------------------------------------- */
/* Estilos del contendor grid pantallas completa */
/* ------------------------------------------------- */

@media (min-width: 850px) {
    .contenedor {
        display: grid;
        grid-template: repeat(6, auto) / 100%;
        grid-template-areas: "encabezado" 
                              "menu"
                              "contenedor-p1"
                              "contenedor-p3"
                              "contenedor-p4"
                              "pie";
    }
}
    .contenedor-p1 img{
        height: 65vw;
        margin-bottom: 20px;
    }
    

/* ------------------------------------------------- */
/* Estilos de Section (formulario) */
/* ------------------------------------------------- */
.section {
    background-color: #3a5199;
    padding: 10px;
    border:#d5d6d2 solid;
    align-items: center;
    position: relative;
    min-height: 1px;
        }




div h3 {
    text-align: center;
    color: #ffffff;
    text-decoration: hsl(0, 0%, 100%);
    
}

form {
    color: #ffffff;
   
}

.button {
    display: inline-block;
    line-height: 1;
    background-color: #d5d6d2;
    font-size: 12px;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    color: #3a5199;
    fill: #3a5199;
    text-align: center;
    transition: all .3s;
}

/* ------------------------------------------------- */
/* Estilos al icono de Desplazarse-hacia-Arriba */
/* ------------------------------------------------- */

.desplazarse-hacia-arriba {
    position: fixed;
    right: 0.5%;
    bottom: 9%;
    cursor: pointer;
  }
  
  .flecha-arriba {
    width: 3rem;
    height: 3rem;
  }

 i img {
    object-fit: cover;
    height: 2rem;
  }

/* ------------------------------------------------- */
/* Estilos API */
/* ------------------------------------------------- */

.container {
    margin:10px auto;
    justify-content: center;
    text-align:center;
    font-size: 12px;
    
}

.contenido_API {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* No utilizado, borrar 
.container22 {
    margin:0px auto;
    justify-content: left;
    text-align:left
}
*/

.tituloTabla {
    font-size: 1.2em;
    color: white;
    background-color:darkorange;
    border-radius: 3px;
    border: 1px solid #303030;
    padding: 5px 15px 2px 15px;
}

.glowoff{
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
}
.glowon{
    filter: drop-shadow(0px 0px 40px rgb(77, 12, 255));
}

.tarjeta {
    float: left;
    border: 1px solid #555;
    border-radius: 10px;
    margin:4px; padding: 2px;
    width:250px;
    height:240px;
    overflow: hidden;
    text-align: center;
}